= turbo_stream.replace "cycle_action_#{@cycle_action.id}" do
  = render "cycle_actions/cycle_action", cycle_action: @cycle_action

= turbo_stream.replace "hours_total" do
  = render "cycle_actions/hours_total", total_hours: @total_hours
