- content_for :page_header do
  = render "layouts/components/page_header", title: "Nouveau pôle"

= form_with model: @team, url: teams_path do |f|
  = render "form", f: f
  = f.actions do
    = f.submit "Enregistrer"
    = link_to "Annuler", teams_path, class: "ml-3 text-sm text-gray-500 hover:underline"
