.p-1.text-center.text-xs.font-bold.bg-cyan-200.text-cyan-700.rounded-t-lg
  - if Date.today == stay.object.start_date
    | Check-in
  - elsif Date.today == stay.object.end_date
    | Check-out
  - elsif Date.today < stay.object.start_date
    | Séjour à venir
  - elsif Date.today > stay.object.start_date && Date.today < stay.object.end_date
    | Séjour en cours
  - else
    | Séjour passé
.p-3.space-y-2
  .flex.items-center.justify-between.mb-2
    .text-sm.font-semibold.leading-none.text-gray-900
      = link_to stay.customer_name, 
                stay_path(stay), 
                class: "text-blue-700 hover:text-blue-900 focus:text-blue-900"
    div
      = link_to "Détails", 
                stay_path(stay),
                class: "text-white bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:ring-cyan-300 font-medium rounded-lg text-xs px-3 py-1.5 focus:outline-none"

  .space-y-1.mb-1
    = stay.accommodation_tags
    = stay.spaces_tags

  p.text-sm.font-medium
    = stay.payment_status

  ul.flex.text-base.font-light.mb-2
    - if stay.adults.to_i > 0
      li.mr-2
        span.font-semibold.text-gray-900 = "#{stay.adults} adultes"
        span.ml-1 🧑
    - if stay.children.to_i > 0
      li.mr-2
        span.font-semibold.text-gray-900 = "#{stay.children} enfants"
        span.ml-1 👧
    - if stay.babies.to_i > 0
      li.mr-2
        span.font-semibold.text-gray-900 = "#{stay.babies} bébés"
        span.ml-1 👶

  - if stay.notes.presence
    .mt-2.text-yellow-600.font-caveat.text-lg
      = simple_format "📝 " + truncate(stay.notes, length: 150)
