<?xml version="1.0"?>
<svg xmlns="http://www.w3.org/2000/svg" id="Light" viewBox="0 0 24 24">
    <defs>
        <style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;}</style>
    </defs>
    <path class="cls-1" d="M18.4.5,5.825,11.626a.5.5,0,0,0,0,.748L18.4,23.5"></path>
</svg>
