- content_for :page_header do
  = render "layouts/components/page_header", title: "Nouvelle note de frais"

.max-w-6xl
  = render "form", report: @report, humans: @humans, entities: @entities, accounts: @accounts, teams: @teams
