.border-l-8.border-indigo-200.-ml-4.pl-4.md:p-0.md:m-0.md:border-0.grid.grid-cols-1.md:grid-cols-3.md:gap-4
  .md:border-r-8.md:border-indigo-200.md:pr-4.md:text-right
    = section_heading_tw heading: "Options"

  .col-span-2.mb-4.space-y-6.sm:space-y-5
    .hidden.col-span-2.mb-6.space-y-6.sm:space-y-5(data-booking-target="partyHallOption")
      .content
        p #{link_to("Notre grande salle", "https://www.les4sources.be/nos-salles-et-espaces-exterieurs", onclick: "window.open(this.href); return false;")} est disponible en option uniquement pour les repas des giteurs du Grand-Duc et de la Hulotte.

      = f.check_input :option_partyhall,
                      label: "Intéressé d'également louer la salle des 4 Sources"

    = f.check_input :option_pizza_party,
                    label: "Intéressé par une Pizza Party privée 🍕 (vendredi uniquement)"

    = f.check_input :option_bread,
                    label: "Intéressé d'avoir du pain au levain cuit au feu de bois à son arrivée 🍞 (vendredi et samedi uniquement)"

    = f.check_input :option_babysitting,
                    label: "Intéressé par du babysitting 👼"

    = f.check_input :option_discgolf,
                    label: "Intéressé par une activité disc-golf 🥏"

    = f.check_input :wifi,
                    label: "Il faut installer le WiFi pour ce groupe 👩‍💻"

hr
