.border-l-8.border-indigo-200.-ml-4.pl-4.md:p-0.md:m-0.md:border-0.grid.grid-cols-1.md:grid-cols-3.md:gap-4
  .md:border-r-8.md:border-indigo-200.md:pr-4.md:text-right
    = section_heading_tw heading: "Options"

  .col-span-2.mb-4.space-y-6.sm:space-y-5
    = f.check_input :option_bread,
                    label: "Intéressé d'avoir du pain au levain cuit au feu de bois à son arrivée 🍞 (vendredi et samedi uniquement)"

    = f.check_input :option_babysitting,
                    label: "Intéressé par du babysitting 👼"

    = f.check_input :option_discgolf,
                    label: "Intéressé par une activité disc-golf 🥏"

hr
