= render "bookings/form/info", f: f
= render "bookings/form/type", f: f
= render "bookings/form/reservation", f: f
= render "bookings/form/payment", f: f
= render "bookings/form/party_hall", f: f
= render "bookings/form/options", f: f
= render "bookings/form/notes", f: f