p Bonjour #{@booking.firstname},

p
  |
    Bonne nouvelle ! Votre réservation aux 4 Sources est confirmée.

p 
  |
    Vous trouverez tous les détails de votre réservation à l'adresse suivante:
  br
  = link_to public_booking_url(@booking.token), public_booking_url(@booking.token)

p
  |
    N'hésitez pas à partager ce lien avec vos compagnons de voyage.

p
  |
    Prévoyez bien vos draps, essuies/serviettes de bain et du savon biodégradable pour notre lagunage.

p
  |
    Répondez-nous si vous constatez une erreur ou une information manquante. Nous
    modifierons la réservation pour que tout soit bien en ordre.

p
  |
    À bientôt,

= render "shared/email_signature"