p Bonjour #{@booking.firstname},

p 
  |
    Votre demande de réservation aux 4 Sources a bien été enregistrée. Vous recevrez des nouvelles de 
    notre part dans les 48 heures.

p
  |
    Les détails de votre réservation sont disponibles à l'adresse suivante:
  br
  = link_to public_booking_url(@booking.token), public_booking_url(@booking.token)

p
  |
    Répondez-nous si vous constatez une erreur ou une information manquante. Nous
    modifierons votre demande pour que tout soit bien en ordre.

p
  |
    À bientôt,

= render "shared/email_signature"