p Bonjour #{@booking.firstname},

p
  |
    Bonne nouvelle ! Votre réservation d'hébergement aux 4 Sources est confirmée. Vous
    trouverez tous les détails de votre réservation à l'adresse suivante :

p
  = link_to public_booking_url(@booking.token), public_booking_url(@booking.token)

p
  |
    Merci de veiller à en prendre connaissance car vous y trouverez des informations importantes :
    les modalités de paiement pour valider votre réservation, ce que vous devez emporter avec vous, 
    l'accès au domaine, etc.

p
  |
    N'hésitez pas à partager ce lien avec les personnes qui vous accompagneraient et à nous revenir
    si vous constatez une erreur ou une information manquante. Nous modifierons votre réservation
    pour que soit bien en ordre.

p
  |
    Au plaisir de vous accueillir au mieux dans notre p'tit coin de paradis 🙂

= render "shared/email_signature"