.border-l-4.border-slate-400.-ml-4.pl-4.md:p-0.md:m-0.md:border-0.grid.grid-cols-1.md:grid-cols-3.md:gap-4
  .md:border-r-4.md:border-slate-400.md:pr-4.md:text-right
    = section_heading_tw heading: "Votre réservation"

  .col-span-2.mb-4.space-y-6.sm:space-y-5
    .space-y-6.md:space-y-0.md:flex.md:space-x-6
      = f.date_field :from_date,
                     html5: true,
                     label: "Du *",
                     required: true,
                     error: "Veuillez renseigner une date",
                     min: Date.tomorrow,
                     data: { \
                       "action": "public--booking#setToDate public--booking#drawForm", 
                       "public--booking-target": "fromDateInput" \
                     }
      = f.date_field :to_date,
                     html5: true,
                     label: "Au *",
                     required: true,
                     error: "Veuillez renseigner une date",
                     data: { "action": "public--booking#drawForm", "public--booking-target": "toDateInput" }

    .space-y-6.md:space-y-0.md:flex.md:space-x-6
      = f.number_field :adults,
                       label: "Adultes *",
                       min: 0,
                       required: true,
                       remove_default_class: "sm:text-sm",
                       class: "w-24 text-lg",
                       data: { "action": "public--booking#drawForm", "public--booking-target": "adultsInput" }

      = f.number_field :children,
                       label: "Enfants *",
                       min: 0,
                       required: true,
                       remove_default_class: "sm:text-sm",
                       class: "w-24 text-lg",
                       data: { "action": "public--booking#drawForm", "public--booking-target": "childrenInput" }

      = f.number_field :babies,
                       label: "Bébés *",
                       min: 0,
                       required: true,
                       remove_default_class: "sm:text-sm",
                       class: "w-24 text-lg",
                       hint: "Ne nécessitant pas un lit ou ayant son propre couchage",
                       data: { "action": "public--booking#drawForm" }

hr
