p= @space_booking.greeting

p
  |
    Bonne nouvelle ! Votre réservation d’espace aux 4 Sources est confirmée. Vous trouverez tous les 
    détails de votre réservation à l'adresse suivante :

p 
  = link_to public_space_booking_url(@space_booking.token), public_space_booking_url(@space_booking.token)

p
  |
    Merci de veiller à en prendre connaissance car vous y trouverez des informations importantes : les 
    modalités de payement pour valider votre réservation, l’accès au domaine, le règlement intérieur, etc.

p
  |
    N'hésitez pas à le partager aux personnes qui vous accompagneraient et à nous revenir si vous constatez 
    une erreur ou une information manquante. Nous modifierons la réservation pour que tout soit bien en ordre.

p
  |
    Au plaisir de vous accueillir au mieux dans notre p’tit coin de paradis 🙂

= render "shared/email_signature"