p Bonjour #{@space_booking.firstname},

p 
  |
    Votre réservation d'espaces aux 4 Sources a été annulée. S'il s'agit d'une erreur de notre part,
    n'hésitez pas à répondre à cet email.

p
  |
    Les détails de votre réservation sont disponibles à l'adresse suivante:
  br
  = link_to public_space_booking_url(@space_booking.token), public_space_booking_url(@space_booking.token)

p
  |
    Vous souhaitez réserver à un autre moment? N'hésitez pas à répondre à cet email en nous précisant
    votre demande.

p
  |
    À la prochaine,

p
  |
    Le pôle Accueil des 4 Sources