p Salut la team,

p 
  |
    Ici Claudy. J'ai une bonne nouvelle, on a reçu un paiement !

p
  |
    Les détails de ce paiement sont disponibles à l'adresse suivante:
  br
  = link_to payment_url(@payment), payment_url(@payment)

p
  |
    Agréablement,

p
  |
    Claudy