default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: claudy_development

test:
  <<: *default
  database: claudy_test

production:
  <<: *default
  encoding: unicode
  database: claudy_production
  username: claudy
  password: <%= ENV["CLAUDY_DATABASE_PASSWORD"] %>
