= tag.div class: "text-xs", data: { "tooltip-target": "tooltip-human-#{human_role.human.id}" } do
  = image_tag human_role.human.photo_url(:thumb),
              class: "inline-block h-10 w-10 rounded-full ring-1 ring-yellow-400",
              alt: human_role.human.name
