= render "space_bookings/form/info", f: f
= render "space_bookings/form/type", f: f
= render "space_bookings/form/reservation", f: f
= render "space_bookings/form/payment", f: f
= render "space_bookings/form/options", f: f
= render "space_bookings/form/notes", f: f

#space-bookings-for-date-range(data-space-booking-target="spaceBookingsForDateRange")