- content_for :page_header do
  = render "layouts/components/page_header", title: "Modifier #{@consignor.name}"

= form_with model: @consignor, url: consignor_path(@consignor), method: :patch do |f|
  = render "form", f: f
  = f.actions do
    = f.submit "Enregistrer"
    = link_to "Annuler", consignors_path, class: "ml-3 text-sm text-gray-500 hover:underline"
