- content_for :page_header do
  = render "layouts/components/page_header", title: "Nouvelle demande"

.max-w-3xl
  = render "kitchen/orders/multi_form", order: @order, prestations: @prestations, grid_days: @grid_days, submit_label: "Créer la demande"
