  = number_field_tag   :final_price,
                       required: true,
                       value: ((stay.total_reservation_amount) rescue nil),
                       class: "w-1/2 md:w-1/2 lg:w-1/4",
                       step: "0.01"
