doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Claudy
    = csrf_meta_tags
    = csp_meta_tag
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin")
    link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet")
    = vite_client_tag
    = vite_javascript_tag "application", "data-turbo-track": "reload"
  / La carte du domaine (epic #348) occupe toute la fenêtre sous la navbar :
    colonne flex sur la hauteur de l'écran, sans padding ni pied de page.
  body.bg-white.overflow-x-clip(id="body-#{controller_name}_#{action_name}" class=("flex h-[100dvh] flex-col overflow-hidden" if @map_view))
    = render "layouts/components/tooltips"
    = render "humans/tooltips"

    / = turbo_frame_tag "modal", target: "_top"
    = turbo_frame_tag "modal"

    = render "layouts/components/navbar"

    - if @map_view
      main.relative.min-h-0.flex-1
        = render 'layouts/components/messages'
        = yield
    - else
      .p-8
        / sticky page header
        - if content_for?(:page_header)
          .mb-8
            = yield :page_header

        / main content
        = render 'layouts/components/messages'
        = yield

        = render 'layouts/components/footer'
