<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p>
      <strong>Les 4 Sources</strong><br>
      Entre Yvoir et Crupet, un univers résilient où le Vivant invite à être, oser, vibrer, rayonner.<br>
      → www.les4sources.be
    </p>
  </body>
</html>
